:root {
  --gray-700: rgba(56, 57, 66, 1);
  --neutralwhite: rgba(255, 255, 255, 1);
  --gray-900: rgba(19, 19, 22, 1);
  --subtitle-1-18-font-family: "Poppins", Helvetica;
  --subtitle-1-18-font-weight: 600;
  --subtitle-1-18-font-size: 18px;
  --subtitle-1-18-letter-spacing: 0px;
  --subtitle-1-18-line-height: 26px;
  --subtitle-1-18-font-style: normal;
}